html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.heading {
  padding: 27px 60px;
  width: 100%;
  box-sizing: border-box;
}

.heading-navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}
.heading-navigation > div {
  display: flex;
}
.heading-navigation-link {
  text-decoration: none;
  white-space: nowrap;
  transition: color 2s;
  border-radius: 40px;
  padding: 16px 44px 16px 44px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #39373A;
}
.slideshow-container {
  overflow-x: hidden;
}
.catalog-style {
  text-decoration: underline;
  margin-left: 30px;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.heading-navigation-link:hover {
  /* color: white; */
  background-color: #FFCC29;
  transition: 1s;
}

.info-heading {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2;
  word-break: keep-all;
  text-align: center;
  text-overflow: clip;
  text-align: center;
  margin: 60px 0 90px 0;
  color: #39373A;
  position: relative;
}

.info-heading::after {
  content: '';
  display: block;
  width: 165px;
  height: 5px;
  background-color: #FFCC29;
  position: absolute;
  right: 43%;
  margin-top: 30px;
}
.info-heading-txt {
  font-size: 17px;
  line-height: 1.5294717647;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.021em;
  background-color: white;
  color: #39373A;
  font-style: normal;
}

.repair {
  width: 100%;
  height: 890px;
  background-image: url(../img/repair-tech.jpg);
  background-size: cover;
  position: relative;
}

.repair-haeding {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2;
  width: 400px;
  color: #39373A;
  height: fit-content;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 50px;
}

.repair-head-sp {
  font-size: 38px;
  font-weight: 800;
  color: #FFCC29;
  font-style: italic;
  line-height: 1.2;
}

.info-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
}

.info-container-item:nth-child(1) {
  margin: 0;
}
.info-container-item {
  width: 309px;
  margin-left: 43px;
  height: 314px;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 36px;
  box-sizing: border-box;
  transition: 1s;
}
.info-container-item svg {
  fill: #39373A;
}

.info-container-item:hover {
  background-color: #39373A;
  transition: 1s;
}
.info-container-item:hover .info-container-item-head {
  color: white;
  transition: 1s;
}
.info-container-item:hover .info-container-item-txt {
  color: white;
  transition: 1s;
}
.info-container-item:hover svg {
  fill: #FFCC29;
  transition: 1s;
}
.info-container-item-head {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #39373A;
}
.info-container-item-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #39373A;
}
.task {
  display: none;
  width: 546px;
  padding: 40px;
  box-sizing: border-box;
  min-height: 353px;
  background-color: #F9F9F9;
  border-radius: 10px;
}
.visible {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}
.task-item svg {
  position: absolute;
  right: -37px;
  top: -40px;
  fill: #FFCC29;
  transition: 0.5s;
}
.task svg:hover {
  fill: #39373A;
  transition: 0.5s;
}
.task-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.task-item-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.task-item-heading h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #39373A;
}
.task-item-box {
  display: flex;
  flex-direction: column;
}
.task-item-ipt {
  margin-top: 30px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 46px;
  width: 360px;
  box-sizing: border-box;
  height: 47px;
  padding: 13px 26px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #39373A;
}
.task-item-ipt:nth-child(1) {
  margin: 0;
}
.task-calls {
  margin-top: 30px;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-calls {
  width: 497px;
  min-height: 300px;
  background: #F9F9F9;
  border-radius: 10px;
  padding: 35px;
  box-sizing: border-box;
}
.footer-calls-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #39373A;
}
.footer-calls-list {
  list-style-type: none;
  padding: 0;
}
.footer-calls-list li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #39373A;
}
.footer-calls-list-item {
  display: flex;
  margin-top: 17px;
}
.footer-calls-list-item svg {
  margin-right: 13px;
}

.footer-calls-list-item:nth-child(1) > svg {
  margin-right: 16px;
}
.footer-calls-form {
  display: flex;
  flex-wrap: wrap;
}

.footer-calls-form-inpt {
  font-style: normal;
  width: 210.5px;
  height: 47px;
  padding: 14px 22px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #39373A;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 28px;
}
.footer-calls-form-inpt:nth-child(2) {
  margin-left: 1%;
}
.footer-calls-form-btn {
  background: #FFCC29;
  border-radius: 28px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  margin-top: 22px;
  transition: 1s;
}
.footer-calls-form-btn:hover {
  background: #39373A;
  color: #FFCC29;
  transition: 1s;
  text-decoration: underline;
}
.footer-map {
  position: relative;
  overflow: hidden;
  width: 497px;
}
.footer-map iframe {
  position:relative;
  border: none;
  border-radius: 10px;
}
.footer-map a {
  color:#eee;
  font-size:12px;
  position:absolute;
  top:0px;
}
.footer-map a:nth-child(2) {
  color:#eee;
  font-size:12px;
  position:absolute;
  top:14px;
}
.footer-bottom {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #39373A;
}

/* +++++++++++ LIST ++++++++++++ */
.filter {
  border: 1px solid #FFCC29;
  margin-top: 60px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-labl {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #39373A;
}
.filter-sel {
  margin-left: 20px;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  color: #39373A;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  text-align: center;
}
.filter-sel:focus {
  border: 1px solid #FFCC29;
  color: #FFCC29;
}
.filter-sel-opt{
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: #39373A;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.filter-inpt {
  font-style: normal;
  width: 200px;
  height: 30px;
  padding: 14px 22px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #39373A;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px 0 0 15px;
}
.filter-btn {
  border-radius: 0 15px 15px 0;
  margin: 0;
  height: 30px;
  /* background-color: transparent; */
  border: none;
  background-color: #FFCC29;
}
.catalog {
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  border: 1px solid #FFCC29;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  box-sizing: border-box;
}
.catalog-item {
  width: 337px;
  padding: 28px;
  box-sizing: border-box;
  min-height: 580px;
  margin: 15px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.catalog-item-img img {
  width: 281px;
}
.catalog-item-info {
  display: flex;
  flex-direction: column;
}
.catalog-item-info h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #39373A;
}
.catalog-item-info span {
  color: #39373A;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 20px;
  text-align: center;
}
.catalog-item-info button {
  margin-top: 28px;
  white-space: nowrap;
  transition: 1s;
  border: none;
  background-color: #E5E5E5;
  border-radius: 40px;
  padding: 16px 44px 16px 44px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #39373A;
  cursor: pointer;
}
.catalog-item:hover {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  transition: 1s;
}
.catalog-item:hover .catalog-item-info button {
  background-color: #FFCC29;
  transition: 1s;
}
.error {
  border: 2px  solid red;
}
